jwtsecret: "<choose secret>"
server_addr: "[::]:8090"
server_banned_ips:
server_maintenance: false
server_domain: "container.exploit.courses"
challenges_dir: "../yookiterm-challenges"
admin_password: "<pw>"
user_password: "<pw>"
googleId: ""
googleSecret: ""

container_hosts:
- hostnamealias: ubuntuaslr
  hostname: container.exploit.courses:41443
  aslr: true
  arch: intel
  sshbaseport: 51000
- hostnamealias: ubuntunoaslr
  hostname: container.exploit.courses:42443
  aslr: false
  arch: intel
  sshbaseport: 52000
- hostnamealias: ubuntuarm
  hostname: container.exploit.courses:43443
  aslr: true
  arch: arm
  sshbaseport: 53000

base_containers:
- id: "1"
  name: "hlUbuntu32"
  bits: "32"
- id: "2"
  name: "hlUbuntu64"
  bits: "64"
