jwtsecret: "<choose secret>"
server_addr: "[::]:80"
server_banned_ips:
server_url: "https://my.website"

challenges_dir: "../yookiterm-challenges"
slides_dir: "../yookiterm-slides/"
frontend_dir: "../yookiterm/app/"

admin_password: "<pw>"
user_password: "<pw>"

googleId: ""
googleSecret: ""
azureId: ""
azureSecret: ""

container_hosts:
- hostnamealias: ubuntuaslr
  hostname: my.website:41443
  aslr: true
  arch: intel
  sshbaseport: 51000
- hostnamealias: ubuntunoaslr
  hostname: my.website:42443
  aslr: false
  arch: intel
  sshbaseport: 52000
#- hostnamealias: ubuntuarm
#  hostname: my.website:43443
#  aslr: true
#  arch: arm
#  sshbaseport: 53000

base_containers:
- id: "1"
  name: "Debian32"
  bits: "32"
- id: "2"
  name: "Debian64"
  bits: "64"
